amd64/
Debug/
Release/
x86/

LaunchNMS/amd64/
LaunchNMS/x86/
Localization/ENU/amd64/
Localization/ENU/x86/
OpenNMS_Service/amd64/
OpenNMS_Service/x86/
OpenNMS_Tray/amd64/
OpenNMS_Tray/x86/

*.opensdf
*.sdf
*.suo
*.user
*.aps
