LaunchNMS/LaunchNMS.vcxproj.user
LaunchNMS/amd64/
LaunchNMS/x86/
Localization/ENU/MainrENU.vcxproj.user
Localization/ENU/amd64/
Localization/ENU/x86/
OpenNMS_Service/OpenNMS_Service.vcxproj.user
OpenNMS_Service/amd64/
OpenNMS_Service/x86/
OpenNMS_Tray/OpenNMS_Tray.vcxproj.user
OpenNMS_Tray/amd64/
OpenNMS_Tray/x86/
jicmp/jicmp.vcxproj.user
opennms-windows.sdf
opennms-windows.suo
